<article class="post-entry">
    <header class="entry-header">
        <div class="entry-hint-parent">
            <a href="{{ .Permalink }}">{{ .Title }}</a> <span class="entry-content">{{ .Params.style }}</span>
        </div>
    </header>
    <div class="entry-content">
        <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
            {{ .Params.startDate | dateFormat "Mon Jan 2 | 3:04 PM" }}
            {{ with .Site.GetPage "venues" .Params.venue }}
            | {{ .Params.title }}
            {{ end }}
        </div>
        {{ if isset .Params "price" }}
        <div>
            {{ if eq .Params.price 0.0 }}
            Free
            {{ else }}
            {{ .Params.price | printf "$%.0f" }}
            {{ end }}
        </div>
        {{ end }}
    </div>

    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
