{{ define "main" }}
<article class="post-single">

    <header class="post-header">
        {{ .Params.startDate | dateFormat "Mon Jan 2, 2006" }} <br/>
        {{ .Params.startDate | dateFormat "3:04 PM"  }} - {{ .Params.endDate | dateFormat "3:04 PM"}}
        <h3 class="post-title entry-hint-parent">{{ .Title }}</h3>
    </header>

    <div class="post-content">
        {{ if isset .Params "price" }}
            {{ if eq .Params.price 0.0 }}
            Free
            {{ else }}
            {{ .Params.price | printf "$%.0f" }}
            {{ end }}
        {{ end }}
        {{ with .Site.GetPage "venues" .Params.venue }}
            {{ if .Params.information }}
                | {{ delimit .Params.information " | " }}
            {{ end }}
        {{end}}

        {{ with .Site.GetPage "venues" .Params.venue }}
        <h3>Location</h3>
        <div>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <address>
                {{ .Params.street }}<br/>{{ .Params.city }}, {{ .Params.state }} {{ .Params.zip }}
            </address>
            <a href="https://www.google.com/maps/dir/?api=1&destination={{ .Params.street | urlquery }}+{{ .Params.city | urlquery }}+{{ .Params.state | urlquery }}+{{ .Params.zip | urlquery }}" target="_blank">
                Directions
            </a>
        </div>
        {{end}}

        <h3>Organizer</h3>
        {{ with .Site.GetPage "organizers" .Params.organizer }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}


        <div>
            {{ .Content }}
        </div>
    </div>

    <div>
        <h2>Related Events</h2>
        <div>
            {{ if .Params.related }}
            {{ range .Params.related }}
            {{ $event := . }}
            {{ with $.Site.GetPage "events" $event }}
            {{ partial "event_entry.html" . }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>

</article>
{{ end }}
