{{ define "main" }}
<article class="post-single">
    <header class="post-header">
        {{ partial "breadcrumbs.html" . }}
        <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    </header>

    <div class="post-content">
        <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                {{ with .Site.GetPage "organizers" .Params.organizer }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"/>
                </svg>
                {{ .Params.startDate | dateFormat "Mon Jan 2 2006" }}
            </li>
            {{ if isset .Params "price" }}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M21.41 11.58l-9-9A2 2 0 0010.17 2H4a2 2 0 00-2 2v6.17a2 2 0 00.59 1.41l9 9a2 2 0 002.83 0l6.17-6.17a2 2 0 000-2.83zM7 7a1.5 1.5 0 110-3 1.5 1.5 0 010 3z"/>
                </svg>
                {{ if eq .Params.price 0.0 }}
                Free
                {{ else }}
                {{ .Params.price | printf "$%.0f" }}
                {{ end }}
            </li>
            {{ end }}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-.5-13h-1v6l5.25 3.15.75-1.23-4.5-2.67V7z"/>
                </svg>
                {{ .Params.startDate | dateFormat "3:04 PM"  }} - {{ .Params.endDate | dateFormat "3:04 PM"}}
            </li>
            {{ with .Site.GetPage "venues" .Params.venue }}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                </svg>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <address>
                {{ .Params.street }} {{ .Params.city }}, {{ .Params.state }} {{ .Params.zip }}
                </address>
            </li>
                {{ if .Params.information }}
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v2h-2zm0 4h2v6h-2z"/>
                    </svg>
                    {{ delimit .Params.information ", " ", " }}
                </li>
                {{ end }}
            {{end}}

            {{ if .Params.primaryMusic }}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="currentColor">
                    <path d="M12 3v10.55A4 4 0 1014 17V7h4V3h-6z"/>
                </svg>
                {{ delimit .Params.primaryMusic ", " ", " }}
                {{ if .Params.primaryMusic }} with
                {{
                    delimit .Params.secondaryMusic ", " ", " }}
                {{ end }}
            </li>
            {{ end }}
        </ul>
        <div>
            {{ .Content }}
        </div>
    </div>
    <div>
        <h2>Related Events</h2>
        <div>
            {{ if .Params.related }}
            {{ range .Params.related }}
            {{ $event := . }}
            {{ with $.Site.GetPage "events" $event }}
            {{ partial "event_entry.html" . }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
    </div>

</article>
{{ end }}
